%main.container
  = render 'latest'

.container
  .jumbotron.text-center.mb-0
    %h2.h1 Welcome to our amazing Bookstore!
    .mb-res-50
      %p We pore through hundreds of new books each month and select the five best we can find to share with our members.
      = link_to 'Get Started', category_books_path('all'), role: "button", class: "btn btn-default to-catalog"
  
  = render 'best_sellers'
