%main.container.general-main-wrap
  = devise_error_messages!
  .text-center
    %h3.general-login-title Sign in
    
    = render 'devise/providers/facebook'
    
    %p.general-login-text Or
  
  = render 'new_form'
  
  %p.general-sign-text.text-center
    Do not have an account?
    = link_to 'Sign up', new_customer_registration_path, class: "in-gold-500"
    