.visible-xs
  %button.close{type: "button", 'aria-label': "Close"}
    %span{'aria-hidden': "true"} &times;
  %ul.nav.navbar-nav
    %li
      = link_to root_path do
        Home
    %li
      %a{type: "button", 'data-toggle': "collapse", href: "#menu", 'aria-expanded': "false", 'aria-controls': "menu"} Shop
      %ul#menu.collapse.list-unstyled.pl-30.mb-10{'aria-expanded': "false"}
        %li
          = link_to 'All', category_books_path('all')
        - Category.all.each do |category|
          %li
            = link_to category.title, category_books_path(category)
    %li
      %a{href: "#"} My account