.hidden-xs
  %ul.nav.navbar-nav
    %li
      %a{href: "#"} Home
    %li.dropdown
      %a.dropdown-toggle{href: "#", 'data-toggle': "dropdown", role: "button", 'aria-haspopup': "true", 'aria-expanded': "false"} Shop
      %ul.dropdown-menu
        %li
          %a{href: "#"} Mobile development
        %li
          %a{href: "#"} Photo
        %li
          %a{href: "#"} Web design
        %li.divider{role: "separator"}
        %li
          %a{href: "#"} Log out
      %li
        %a{href: "#"} My account